<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LM - platform for learning math</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link rel="stylesheet" href="css/modalWindow.css"/>
    <link rel="stylesheet" href="css/selectItems.css"/>
    
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<body>





<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">MATH</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <button id="confirm" data-question="mail: stas-martynov-98@mail.com<br>Мартынов C.В." class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect tirgger">
                    КОНТАКТЫ
                </button>
                <button id="btnTests" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect tirgger" style="margin-left: 10px">
                    ТЕСТЫ
                </button>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Параграфы
            <button id="addPartBtn" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" style="position: absolute; right: 10px; top: 10px;">
                <i class="material-icons">add</i>
            </button>
        </span>
        
        
        <nav id="parts" class="mdl-navigation">
        </nav>
    </div>
    <main class="mdl-layout__content" style="align-content: center">
        <div class="page-content">
            <div id="menu">
                <!-- Your content goes here -->
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: 50%; margin: auto; top: 30px">
                    <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">Темы</th>
                        <button id="addThemeBtn" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" style="position: absolute; right: 10px; bottom: 10px">
                            <i class="material-icons">add</i>
                        </button>
                    </tr>
                    </thead>
                    <tbody id="themes">
                    </tbody>
                </table>
            </div>
            <div id="theme-content" style="padding: 15px">
            </div>
        </div>
    </main>
</div>



<!-- The Modal -->
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="sample3">
            <label class="mdl-textfield__label" for="sample3">Заголовок...</label>
        </div>
        <br>
        <div class="mdl-textfield mdl-js-textfield">
            <textarea class="mdl-textfield__input" type="text" rows= "3" id="sample5" ></textarea>
            <label class="mdl-textfield__label" for="sample5">Описание...</label>
        </div>
        <div>
            <h4>Тесты</h4>
            <button id="addTestBtn" onclick="addNewTest()" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" style="margin: -90px 0 0 80px">
                <i class="material-icons">add</i>
            </button>
            <div id="tests">
            </div>
        </div>
        <br>
        <p>Выберите тему:</p>
        <div id="selectParts" class="styled-select" tabindex="1">
                <select>
                    <option>Here is the first option</option>
                    <option>The second option</option>
                    <option>The thrid option</option>
                </select>
        </div>
        <br>
        
        <button id="btnSaveTheme" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Сохранить</button>
    </div>
</div>
<p class="trigger">
    <button type="button" id="confirm" data-question="mail: stas-martynov-98@mail.com<br>Мартынов C.В." class="button">Confirm</button>
</p>
<div id="output"></div>

<div id="demo-snackbar-example" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
</div>

<script>
    function refreshThemes() {
        api.getDate(CollectionType.Themes, null, function (json) {
            $("#themes").empty();

            for (var i = 0; i < json.length; i++) {
                var tr = document.createElement("tr");
                var element = document.createElement("td");
                element.className = "mdl-data-table__cell--non-numeric";
                element.innerHTML = json[i].Name;
                element.theme = json[i]._id;

                element.onclick = function (x) {
                    var themeId = x.path[0].theme;

                    $("#menu").hide();
                    api.getDate(CollectionType.Themes, themeId, function (actualListTheme) {
                        var actualTheme = actualListTheme[0];
                        document.getElementById("theme-content").innerHTML =
                            "<button onclick='enableMenu()' class=\"mdl-button mdl-js-button mdl-button--primary\">\n" +
                            "НАЗАД" +
                            "</button>" +
                            "<button id='" + actualTheme._id + "' onclick='deleteTheme(this)' class=\"mdl-button mdl-js-button mdl-button--primary\">\n" +
                            "УДАЛИТЬ" +
                            "</button>" +
                            "<button id='" + actualTheme._id + "' onclick='editTheme(this)' class=\"mdl-button mdl-js-button mdl-button--primary\">\n" +
                            "РЕДАКТИРОВАТЬ" +
                            "</button>" +
                            "<h1 id='theme-content-title'>" + actualTheme.Name + "</h1>" +
                            "<h5>" + actualTheme.Description + "</h5>";
                        $("#theme-content").show();
                        console.log("123");
                    });
                };

                var parts = document.getElementById("themes");
                tr.appendChild(element);
                parts.appendChild(tr);
            }
        });
    }
    function guid() {
        function s4() {
            return Math.floor((1 + Math.random()) * 0x10000)
                .toString(16)
                .substring(1);
        }
        return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();
    }
    
    var modal = document.getElementById('myModal');

    var btn = document.getElementById("addThemeBtn");

    var span = document.getElementsByClassName("close")[0];

    var btnSave = document.getElementById("btnSaveTheme");
    
    btnSave.onclick = function() {
        var title = document.getElementById("sample3").value;
        var description = document.getElementById("sample5").value;
        var select = document.getElementById("selectParts").childNodes[0];
        var theme = select[select.selectedIndex].innerHTML;
        
        console.log(title);
        console.log(description);
        console.log(theme);

//        api.getDate(CollectionType.Parts, null, );
        var parts = document.getElementById("parts").childNodes;

        var themeId = null;
        for (var i = 0; i < parts.length; i++) {
            var part = parts[i];

            if (theme == part.Name)
                themeId = part.theme;

        }
        
        var theme = {
            Id: guid(),
            Name: title,
            Description: description,
            ParentId: themeId
        }

        api.createDate(CollectionType.Themes, theme, function() {
            console.log(321);
        });
        
        $("#myModal").hide();
        
        setTimeout(
            function()
            {
                refreshThemes();
            }, 1000);
    }

    btn.onclick = function() {
        modal.style.display = "block";
        $("#myModal").show();
    }

    span.onclick = function() {
        $("#myModal").hide();
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>


<script src="lib/jquery-3.3.1.min.js"></script>
    <script src="js/RestAPI.js?v=1.0"></script>
    <script src="js/uiParts.js?v=1.1"></script>
<script src="js/uiThemes.js?v=1.0"></script>
<script src="js/helper.js?v=1.0"></script>
<script src="js/uiTest.js?v=1.0"></script>
@*    <script defer src="js/unitTests.js"></script>*@
@*    <script defer src="js/loading.js"></script>*@
</body>
</html>
